[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/docker
ExecStart=/usr/bin/docker daemon -H fd:// $OPTIONS
          
MountFlags=slave
LimitNOFILE={{ docker_limit_openfiles }}
LimitNPROC={{ docker_limit_processes }}
LimitCORE={{ docker_limit_coredump }}

[Install]
WantedBy=multi-user.target
